<%- include('./partials/header.ejs',{isAuth,email}) %>
<form action="/auth/register" method="POST">
    <%- include('./partials/error.ejs', { errors, attribute: 'email'}) %>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="<%= emailInput %>">
    </div>
    <%- include('./partials/error.ejs', { errors, attribute: 'password'}) %>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
    <%- include('./partials/error.ejs', { errors, attribute: 'verification'}) %>
    <div class="form-group">
        <label for="verification">Verify password</label>
        <input type="password" class="form-control" id="verification" placeholder="Password again" name="verification">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('./partials/footer.ejs') %>